body{
    padding-bottom: 80px;
}


.produtos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-produto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.preço{
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cabeçalhoareadocliente{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #FFC107;
    text-align: center;
    padding: 20px;
    

}
.cabeçalhoareadocliente img{
    width: 300px;
    height: auto;

}


.card-produto {
    background-color: white;
   border: 1px solid #ddd;
   border-radius: 10px;
   padding:15px;
   margin: 10px auto;
   max-width: 90%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.img-produto img{
width: 150px
}

.img-produto2 img{
width: 150px

}

.link-card{
    text-decoration:none;
    color:inherit;
    display: block;
}

.link-card:active .card-produto {
    background-color: #f0f0f0; 
    border-color: #FFC107;    
}
    

/*Css da descriçao do pedido */

.informaçao-adicionais{

    color: #333;
   
}


.barra-topo{
    padding: 15px;
    background-color: #FFC107;
}

.botao-voltar{
   text-decoration: none;
   color: #333;
   font-weight: bold;
   font-size: 18px;
}

.detalhe-container{
    padding: 20px;
    text-align: center;
    background-color: white;
}

.destaque-imagem img{
    width: 170px;
    margin-top: 20px;
}

/* Descrição */
.informaçao-produtos h1{
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;

}

.informaçao-adiconais{
    color: #666;
    margin-bottom: 15px;
}

.preco-grande {
    font-size: 30px;
    color: #FFC107;
    font-weight: bold;
    display: block;
    margin: 15px;
}

/* Botao de quantidade */

.selecao-quantidade{
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.btn-qtd{
    width: 45px;
    height: 40px;
    background-color: #FFC107;
    color: #333;
    text-align: center;
    font-size: 22px;
    border: none;
    font-weight: bold;
    touch-action: manipulation;
}

.botao-pedir{
    background-color: #FFC107;
    color: black;
    width: 100%;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.botao-comprar{
    background-color: #FFC107;
    color: black;
    width: 100%;
    padding: 15px;
    margin: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* essa linha abaixo tira a setinha que esta bugando a barra de quantidade */
input[type=number]::-webkit-inner-spin-button,
input[rtpe=number]::-webkit-outer-spin-button{
    -webkit-apperance:none;
    margin: 0;
}

/* essa linhda centraliza o numero dentro da barra de quantidade */

#quantidade{
    text-align: center;
    font-size: 18px;
    color: #FFC107;
}

/* fundno escuro atras da janela de informaçoes pessoais */
.modal-fundo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: (0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* A caixa branca */
.modal-caixa {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    max-width: 200px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.modal-caixa h3 {
    margin-bottom: 10px;
    color: #333;
}

.modal-caixa input {
    width: 70%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.botao-confirmar {
    background-color: #28a745; /* Verde Confirmar */
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.menuinferior{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFC107;
    display: flex;
    justify-content:space-around;
    padding: 10px 0;
    z-index: 1000;
}

.item-menu{
text-decoration:none;
color: #000000;
font-size: 20px;
display: flex;
flex-direction: column;
align-items: center;
}


.item-meu:hover, .item-menu:active{
    color:#FFC107
}

.item-menu .icone {
    font-size: 24px;
    margin-bottom: 5px;
}
   
.icone-com-badge{
    position: relative;
    display: inline-block;
}

.badge{
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: #ff3b30;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
    min-width: 15px;
    text-align: center;
   
}


.informaçao-produtos{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carrinho-vazio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.valor-total{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 

}

.total-pedido {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.item-carrinho{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}

.preco-item{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.btn-continuar{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
}

.btn-fechar{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
}

.btn-limpar{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: #FFC107;
 border-radius: 10px;
 border: none;
 padding: 10px;
}

.barra-topo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


